<div class="container-fluid">
  <div class="pull-right">
    <div class="btn-group">   
      <%= link_to 'Изменить данные', edit_patient_day_statistic_path(@day_statistic), :role => "button",:class => "btn btn-info" %>
      <%= link_to "Удалить данные", @day_statistics, :method => :delete,:role => "button",
          data: { confirm: 'Вы уверены?'}, :class => "btn btn-danger" %>
      <%= link_to 'Назад', patients_path, :role => "button",:class => "btn btn-default" %>

    </div>
 </div>
</br>
<div class='disable_input'>
  <%= form_for([@patient, @patient.day_statistics.build]) do |f| %>
    <%= render 'form', patient: @patient, :f => f %>
  <% end %>
</div>

</div>
<script>
$( document ).ready(function() {

  $('.disable_input :input').prop('disabled', true);
  $('#day_form_button').hide()
});
</script>
