<%= simple_form_for patient do |f| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :is_alive, label: 'Исход заболевания',as: :boolean, checked_value: true, unchecked_value: false %>
  <%= f.input :death_count_days, label: 'На какие сутки наступил летальный исход', disabled: true %>
  <%= f.input :reanimation_count_days, label: 'Длительность пребывания в реанимации' %>
  <%= f.input :hospital_count_days, label: 'Длительность пребывания в стационаре'%>
  <%= f.button :submit, 'Сохранить пациента', id: 'form_button' %>
<% end %>
<%= button_to 'Назад', patients_path, :method => :get,:class => "btn btn-default" %>
<script>
  $('#patient_is_alive').change(function(){
    if ($('#patient_is_alive').is(':checked') == false){
        $('#patient_death_count_days').val('0').prop('disabled', false);
    } else {
        $('#patient_death_count_days').val('0').prop('disabled', true);
    }
  });